.single-slider-image-container {
    display: inline-block;
    width: 600px;
    height: 600px;
}

.single-slider-image {
    width: 600px;
    height: 600px;
}

@media screen and (max-width: 1280px) {
    .arrow {
        display: none;
    }
}