@import "/src/styles/Colors.scss";

.single-navbar-element {
    width: 80px;
}

.single-navbar-element-img {
    height: 50px;
    width: 50px;
    display: block;
    margin: auto;
    z-index: 120;
    border-radius: 10px;
}

.single-navbar-element-img-border {
    display: flex;
    justify-content: center;
    border: 2px solid $color-main-dark-gray;
    border-radius: 25px;
    height: 80px;
    position: relative;
    overflow: hidden;
    z-index: 110;
}

.hover-circle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    box-shadow: 0 0 0 80px rgba(218, 218, 218, 0.4);
    border-radius: 50%;
    z-index: 130;

    top:-40px;
    left:-30px;
    transition: all 0.5s ease-in-out;
}

.selected-image{    
    // background-color: rgb(238, 72, 22);
}

.selected-image .hover-circle{
    top:-100px;
    left:-60px;
}

.hover-background{
    width: 100px;
    height: 100px;
    background-color: $color-main-orange;
    position: absolute;
    border-radius: 25px;

    z-index: 100;

    top:80px;
    left:80px;
    transition: all 0.5s ease-in-out;
}

.selected-image .hover-background{
    top:-10px;
    left:-10px;
}

