@import "/src/styles/Colors.scss";

.single-navbar-element {
    width: 100px;
}

.single-navbar-element-img {
    height: 64px;
    width: 64px;
    display: block;
    margin: auto;
}

.single-navbar-element-img-border {
    display: flex;
    justify-content: center;
    border: 1.5px solid $color-main-dark-gray;
    border-radius: 25px;
    height: 100px;
}